---
layout: page
title: Area
presentation : 
  a :
    name : purpose
    value : An area is a geographical area. Areas map directly to places in the <a href="http://www.geonames.org/">GeoNames</a> database. This database already contains millions of places, and so it is extremely likely that any area one would want to include is there already, but it&rsquo;s also possible to <a href="http://www.geonames.org/manual.html#create">add to GeoNames</a> areas not already in their database.
  b :
    name : method
    value : GET

area : 
    - name: area_name
      mandatory: Mandatory
      type: Free text
      desc: <p>The name of the area</p> 

    - name: area_id
      type: Integer
      mandatory: Mandatory
      desc: <p>Unique <a href="http://www.geonames.org/">GeoNames</a> identifier for the area</p> 

    - name: self
      type: <a href="guidelines.html#links">Link</a>
      mandatory: Mandatory
      desc: <p>Link pointing to the RDF representation of the GeoNames place, i.e. <code>http://geonames.org/{id}/about.rdf</code></p>

---
{% include JB/setup %}

{% include specsnav.html %}

<h3>Overview</h3>

  <table class="resource_pres">
{% for item in page.presentation %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Parameters and filters</h3>

<p>The area resource does not support any URL parameter or filter besides <a href="guidelines.html#format">format selection</a> and <a href="guidelines.html#lang">language negotiation</a>.</p>


<h3>Example</h3>

<p>Example of the XML and JSON representations of the area resource in the context of a list.</p>

<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>
 
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">XML</a></li>
        <li><a href="#tabs-2">JSON</a></li>
    </ul>
    <div id="tabs-1">
<pre class="brush: xml">
&lt;open511
    xmlns:atom="http://www.w3.org/2005/Atom"
    xml:lang="en"
    xml:base="http://my.city.gov/open511/"
    version="v0"
&gt;  
  &lt;area&gt; 
    &lt;area_name&gt;Anaheim&lt;/area_name&gt;
    &lt;area_id&gt;5323810&lt;/area_id&gt;
    &lt;atom:link rel="self" href="http://geonames.org/5323810/about.rdf" /&gt;  
  &lt;/area&gt;
  &lt;area&gt; 
    &lt;area_name&gt;Orange County&lt;/area_name&gt;
    &lt;area_id&gt;5379524&lt;/area_id&gt;
    &lt;atom:link rel="self" href="http://geonames.org/5379524/about.rdf" /&gt;  
  &lt;/area&gt;    
  &lt;pagination&gt;
    &lt;offset>0&lt;/offset&gt;
    &lt;limit>20&lt;/limit&gt;
    &lt;atom:link rel="next" href="/api/areas/?limit=20&offset=20"/&gt;
  &lt;/pagination&gt;
  &lt;atom:link rel="self" href="/api/areas/"/&gt;
  &lt;atom:link rel="up" href="/api/"/&gt;    
&lt;/open511&gt;


</pre>
    </div>
    <div id="tabs-2">
<pre class="brush: js">
{
  "meta": {
      "url": "http://api.open511.info/areas/",
      "up_url": "http://api.open511.info/",
      "version": "v0"
  },
  "content" : [
    {
      "area_name" : "Anaheim",
      "area_id" : 5323810,
      "url" : "http://geonames.org/5323810/about.rdf"
    },
    {
      "area_name" : "Orange County",
      "area_id" : 5379524,
      "url" : "http://geonames.org/5379524/about.rdf"
    }
  ],
  "pagination": {
      "next_url": "/api/events/?limit=20&offset=20",
      "limit": 20,
      "previous_url": null,
      "offset": 0
    }
} 


</pre>
</div>
</div>

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>


<h3>Area item data structure</h3>

<p>The areas resource is a <b>list</b> of items. (A single area is not assigned its own resource URL in Open511, though it has a URL at <a href="http://www.geonames.org/">GeoNames</a>.) So the overall data structure follows the list structure as defined in the <a href="guidelines.html#format">formatting guidelines</a>. What follows defines a single <code>area</code> item.</p>


  <table class="representation">
        <tr><th>Field</th><th>Type</th><th>Description</th></tr>
{% assign anchor = 'area' %}
{% for item in page.area %} 
   {% include tablegen.html %}
{% endfor %}   
     </table>
  

