---
layout: page
title: Area
presentation : 
  a :
    name : purpose
    value : An area is a geographical area. Areas map directly to places in the <a href="http://www.geonames.org/">GeoNames</a> database. This database already contains millions of places, and so it is extremely likely that any area one would want to include is there already, but it&rsquo;s also possible to <a href="http://www.geonames.org/manual.html#create">add to GeoNames</a> areas not already in their database.
  b :
    name : method
    value : GET

area : 
    - name: name
      mandatory: Mandatory
      type: Free text
      desc: <p>The name of the area</p> 

    - name: id
      type: Integer
      mandatory: Mandatory
      desc: <p>Unique <a href="http://www.geonames.org/">GeoNames</a> identifier for the area</p> 

    - name: self
      type: <a href="guidelines.html#links">Link</a>
      mandatory: Mandatory
      desc: <p>Link pointing to the RDF representation of the GeoNames place, i.e. <code>http://geonames.org/{id}/about.rdf</code></p>

---
{% include JB/setup %}

{% include specsnav.html %}

<h3>Overview</h3>

  <table class="resource_pres">
{% for item in page.presentation %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Parameters and filters</h3>

<p>The area resource does not support any URL parameter or filter besides <a href="guidelines.html#format">format selection</a> and <a href="guidelines.html#lang">language negotiation</a>.</p>


<h3>Example</h3>

<p>Example of the XML and JSON representations of the area resource in the context of a list.</p>

<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>
 
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">XML</a></li>
        <li><a href="#tabs-2">JSON</a></li>
    </ul>
    <div id="tabs-1">
        {% highlight xml linenos %}{% include examples/area.xml %}{% endhighlight %}
    </div>
    <div id="tabs-2">
        {% highlight json linenos %}{% include examples/area.json %}{% endhighlight %}
  </div>
</div>

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>


<h3>Area item data structure</h3>

<p>The areas resource is a <b>list</b> of items. (A single area is not assigned its own resource URL in Open511, though it has a URL at <a href="http://www.geonames.org/">GeoNames</a>.) So the overall data structure follows the list structure as defined in the <a href="guidelines.html#format">formatting guidelines</a>. What follows defines a single <code>area</code> item.</p>


  <table class="representation">
        <tr><th>Field</th><th>Type</th><th>Description</th></tr>
{% assign anchor = 'area' %}
{% for item in page.area %} 
   {% include tablegen.html %}
{% endfor %}   
     </table>
  

