---
layout: page
title: Events
presentation : 
  purpose :
    name : purpose
    value : <p>The event resource provide information about road events (accidents, constructions, special events). The <code>events</code> resource is a list of <code>event</code> elements matching the filtering parameters if any is provided.
  method :
    name : method
    value : GET
parameters : 
  lang :
    name : lang
    required : optional 
    description : <p>Specify the language requested. This url parameter overrides the corresponding HTTP header. Values are usual language part of the local (cf ...).</p> <p>The behaviour is the same as the HTTP, several coma-separated values can be provided in the order of priority. If not lang attribute is provided or if the language requested is not available, a fallback language is used (the default value is configured by the end point).</p> <pre>...?lang=fr,en</pre>
  format :
    name : format
    required : optional
    description : <p>Specify the type of representation. This url parameter overrides the corresponding HTTP header. Possible values are <code>xml</code> and <code>json</code>. If no value is provided for the representation, the API will default to xml. </p> <pre>...?format=json</pre>
representation : 
  a :
    name: self
    mandatory: Mandatory
    type: Atom link
    desc: <p>Self link to the current resource using atom link structure with <code>self</code> attribute</p>.<pre>&lt;atom:link rel="self" href="http://ville.montreal.qc.ca/open511/jurisdiction/ville-montreal/events" /&gt; </pre> 
  b :
    name: parent
    type: Atom link    
    mandatory: Mandatory
    desc: <p>Self link to the parent resource using atom link structure with <code>parent</code> attribute</p>
  c :
    name: events
    type: Collection of <a href="#event">Event</a>
    mandatory: Mandatory
    desc: <p>List of <code>event</code> structures</p>
  d :
    name: <p>&darr;&darr; pagination</p>
    type: Pagination structure
    mandatory: conditional
    desc: <p>the pagination complex element provides information about pagination and links to other pages</p>
  e :
    name: <p>&mdash; total_count</p>
    mandatory: Optional
    type: integer
    desc: <p>Total number of events (or pages?) given the current filtering conditions</p>
  f :
    name: <p>&mdash; offset</p>
    type: integer    
    mandatory: Optional
    desc: <p>Offset used to access the current page</p>
  g :
    name: <p>&mdash; limit</p>
    type: integer
    mandatory: Optional
    desc: <p>Number events listed in the current page</p>
  h :
    name: <p>&mdash; next</p>
    type: Atom link
    mandatory: conditional
    desc: <p>Atom link pointing the next page of event. Attribute value is <code>next</code></p>        
  i :
    name: <p>&mdash; previous</p>
    type: Atom link
    mandatory: conditional
    desc: <p>Atom link pointing the previous page of event. Attribute value is <code>previous</code></p>   
event : 
  a :
    name: self
    mandatory: Mandatory
    type: Atom link
    desc: <p>Self link to the event resource using atom link structure with <code>self</code> attribute</p>.<pre>&lt;atom:link rel="self" href="http://ville.montreal.qc.ca/open511/jurisdiction/ville-montreal/event/12937" /&gt; </pre> 
  b :
    name: jurisdiction
    type: Atom link
    mandatory: Mandatory
    desc: <p>Link to the jurisdiction owning this event using atom link structure with <code>@@@TBD@@@</code> attribute</p>
  c :
    name: status
    type: Enum
    mandatory: Mandatory
    desc: <p>Status of the event. The status allow a client to determine if the current event should be considered as currently effective. Value list</p>
  d :
    name: headline
    type: String (free text)
    mandatory: Mandatory
    desc: <p>Title of the event. Should be shorter than 500 characters.</p>
  e :
    name: event_type
    type: Enum
    mandatory: Mandatory
    desc: <p>Basic type of event. Value list:</p>
  f :
    name: event_sub_type
    type: Enum
    mandatory: Optional
    desc: <p>List of values to provide more detail about the type of event.</p>  
  g :
    name: severity
    type: Enum
    mandatory: Mandatory (?)
    desc: <p>Value list to be defined, either a scale (1 to N) or value list with defined semantics (Extreme/Severe/Moderate/Minor/Unknown)</p> 
  i :
    name: certainty
    type: Enum
    mandatory: Optional
    desc: <p>Degree of certainty of the event. Should only be used for unplanned events (<code>event_type = incident</code>). Value list to be confirmed. Could be Observed/Likely/possible </p> 
  j :
    name: creation_date
    type: DateTime
    mandatory: Mandatory
    desc: <p>Date of creation of the event element</p>     
  k :
    name: last_update
    type: DateTime
    mandatory: Conditional
    desc: <p>This field is mandatory if the event have been modified after its creation. This field provide the date and time of the last update.</pre>
  l :
    name: grouped_id
    type: Atom link
    mandatory: Optional
    desc: <p>This field is used to group events together. In specific situations (for example complex construction projects), several events might be related together. This field should be used to point a related event. Use Atom link with attribute <code>related</code></p> 
  m :
    name: detour
    type: string
    mandatory: Optional
    desc: <p>If some detour information are available, they could be provided in this field as a free text</p>
  n :
    name: traveler_message
    type: string
    mandatory: Optional
    desc: <p>In order to ease analysis by automated tool, this field allow to provide predefined messages with a known semantic. For example <code>resident-only</code> means that the circulation is limited to people living on this street.</p>      
  o :
    name: geometry
    type: GML
    mandatory: Mandatory
    desc: <p>Geographical information about the event using the GML notation. Valid type of geometry can be points, multipoints, linestring and multilinestrings. Example:</p><pre><gml:linestring srsName="EPSG:4326"><br>  <gml:coordinates>-71.17,47.33 -71.15,47.36 -71.10,47.35</gml:coordinates><br></gml:linestring></pre> 
  p :
    name: roads
    type: Collection of Road elements
    mandatory: Mandatory
    desc: <p>List of <code>road</code> elements</p>    
  q :
    name: schedule
    type: Schedule structure
    mandatory: Mandatory
    desc: <p>Complex item to provide time related information</p>   
  r :
    name: attachements
    type: Collection of attachement elements
    mandatory: Optional
    desc: <p>Collection of attachements provided additional information about the event (PDFs, images, etc.)</p> 
road : 
  a :
    name: road_name
    mandatory: Mandatory
    type: Free text
    desc: <p>Name or identifier of the road affected by the event. When possible, this field should contain a value that fits the national symbology for road and highway.</p> 
  b :
    name: from
    type: free text
    mandatory: Optional
    desc: <p>Approximate start point of the event on the road. It can be an intersection with another street or it can be a mileage indication. This value should not be use to determine the exact start point since it can be an approximation. The <code>geometry</code> field should be considered as the reference for exact location. If no <code>to</code> field is provided, the from can be considered as a "near".</p>
  c :
    name: to
    type: free text
    mandatory: Optional
    desc: <p>Approximate end point of the event on the road. It can be an intersection with another street or it can be mileage indication</p>
  d :
    name: direction
    type: Enum
    mandatory: Conditional
    desc: <p>Direction of the road that is affected by the event. The field is <b>mandatory</b> if the <code>lane_status</code> is provided.</p>
  e :
    name: lane_status
    type: bitmap
    mandatory: Optional
    desc: <p>Bitmap representing the lanes that are closed because of the event. For example <code>0110</code> means that the 2 central lanes of a 4 lanes roads are closed.</p>
  f :
    name: city
    type: free text
    mandatory: Optional
    desc: <p>City in which the event is taking place (or near)</p>  
  g :
    name: impacted_systems
    type: Collection of systems
    mandatory: Optional
    desc: <p>Allow to provide information about other systems that can be affected</p> 
  i :
    name: system_name
    type: Enum
    mandatory: Optional
    desc: <p>Each system_name </p> 
  j :
    name: restrictions
    type: Collection of restriction
    mandatory: Optional
    desc: <p>Some events may come with some restrictions in term of vehicle using the road (speed, weigth). The restriction structure provide a way to provide the restrictions</p>     
  k :
    name: restriction
    type: Enum
    mandatory: Optional
    desc: <p>Each restriction element provides a limitation on the current road element. The node element can be speed, weight, length, width. A <code>unit</code> can provide the unit used to measure the restriction (t for tons, lb for pounds, etc.)</p>
schedule : 
  a :
    name: timezone
    mandatory: Optional
    type: Enum
    desc: <p>Timezone to be used for this event. Timezone abbreviation (e.g <code>EST</code>) or the continent/city timezine <code>America/Montreal</code></p> 
  b :
    name: start_date
    type: Date
    mandatory: Mandatory
    desc: <p>Start date of the event.</p>
  c :
    name: end_date
    type: Date
    mandatory: Optional
    desc: <p>End date of the event. If no end date is provided, the event should be considered continuing for ever.</p>
  d :
    name: time
    type: structure
    mandatory: Optional
    desc: <p>Provide detail about the specific times of the event. Multiple occurrences of the time structure are allowed so specify multiple timeframes in a day.</p>
  e :
    name: start_time
    type: Time
    mandatory: Optional
    desc: <p>Start time of the event. If the event is spread across several days, the start time is to be applied for each day</p>
  f :
    name: end_time
    type: Time
    mandatory: Optional
    desc: <p>Start time of the event. If the event is spread across several days, the start time is to be applied for each day. end_time is mandatory if a start_time is provided.</p>  
  g :
    name: day_of_week
    type: Enum
    mandatory: Optional
    desc: <p>Comma separated list of days of the week where the event should be considered as active. For example wednesday, thursday, friday would be <code>3,4,5</code>. The days are Monday to Sunday from 1 to 7.</p> 
  i :
    name: specific_dates
    type: Collection of specific_date
    mandatory: Optional
    desc: <p>Since some days might not follow the regular schedule, it is possible to provide a schedule for individual days (for example vacations)</p>
attachement : 
  a :
    name: media-type
    mandatory: Optional
    type: Enum
    desc: <p>Type of content that is linked. Must follow the IANA content type. For example <code>image/jpg</code> for an image encoded with JPEG</p> 
  b :
    name: size
    type: number
    mandatory: Optional
    desc: <p>Size of the content that is linked expressed in kilobytes (kb)</p>
  c :
    name: link
    type: Atom link
    mandatory: Mandatory
    desc: <p>Atom link pointing the attachement with attribute <code>related</code></p>
  d :
    name: description
    type: Free text
    mandatory: Optional
    desc: <p>Human readeable description of the attachement.</p>
---
{% include JB/setup %}

{% include specsnav.html %}

<p>The following page presents the XML representation of the jurisdiction resource within open511.</p>


<h3>URL</h3>

The URL of the jurisdiction resource should be retrieved from the 

  <table class="resource_pres">
{% for item in page.presentation reversed %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Parameters</h3>

  <table class="parameters">
        <tr><th>Parameter</th><th>Required/optional</th><th>Description</th></tr>
{% for item in page.parameters reversed %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td>{{ elem.name }}</td><td>{{ elem.required }}</td><td>{{ elem.description }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Representation</h3>

<p>The following table prodive the struture of the message to be expected for this resource. Although the format of the representation might change (xml or json), the overall data structure should be the same except when specified otherwise.

  <table class="representation">
        <tr><th>Field</th><!--<th>Required/optional</th>--><th>Type</th><th>Description</th></tr>
{% for item in page.representation reversed %} 
    {% for elem in item %} 
      {% if elem.name != nil %}
        {% if elem.type contains 'structure' or elem.type contains 'Collection' %}
          <tr class="structure">
        {% else %} 
          <tr>
        {% endif %}
      <td class="name">{{ elem.name }}</td><!-- <td class="mandatory">{{ elem.mandatory }}</td>--><td class="type">{{ elem.type }}</td>
      <td><p><i>{{ elem.mandatory }}</i></p>{{ elem.desc }}</td>
  </tr>
      {% endif %}
    {% endfor %}
{% endfor %}
  </table>

<a id="event"></a><h3>Event structure</h3>

<p></p>

  <table class="representation">
        <tr><th>Field</th><th>Required/optional</th><th>Type</th><th>Description</th></tr>
{% for item in page.event reversed %} 
    {% for elem in item %} 
      {% if elem.name != nil %}
        {% if elem.type contains 'structure' or elem.type contains 'Collection' %}
          <tr class="structure">
        {% else %} 
          <tr>
        {% endif %}
      <td class="name">{{ elem.name }}</td><td class="mandatory">{{ elem.mandatory }}</td><td class="type">{{ elem.type }}</td><td>{{ elem.desc }}</td>
  </tr>
      {% endif %}
    {% endfor %}
{% endfor %}
  </table>

<a id="road"></a><h3>Road structure</h3>

<p></p>

  <table class="representation">
        <tr><th>Field</th><th>Required/optional</th><th>Type</th><th>Description</th></tr>
{% for item in page.road reversed %} 
    {% for elem in item %} 
      {% if elem.name != nil %}
        {% if elem.type contains 'structure' or elem.type contains 'Collection' %}
          <tr class="structure">
        {% else %} 
          <tr>
        {% endif %}
      <td class="name">{{ elem.name }}</td><td class="mandatory">{{ elem.mandatory }}</td><td class="type">{{ elem.type }}</td><td>{{ elem.desc }}</td>
  </tr>
      {% endif %}
    {% endfor %}
{% endfor %}
  </table>

<a id="schedule"></a><h3>Schedule structure</h3>

<p></p>

  <table class="representation">
        <tr><th>Field</th><th>Required/optional</th><th>Type</th><th>Description</th></tr>
{% for item in page.schedule reversed %} 
    {% for elem in item %} 
      {% if elem.name != nil %}
        {% if elem.type contains 'structure' or elem.type contains 'collection' %}
          <tr class="structure">
        {% else %} 
          <tr>
        {% endif %}
      <td class="name">{{ elem.name }}</td><td class="mandatory">{{ elem.mandatory }}</td><td class="type">{{ elem.type }}</td><td>{{ elem.desc }}</td>
  </tr>
      {% endif %}
    {% endfor %}
{% endfor %}
  </table>

<a id="attachement"></a><h3>Attachement structure</h3>

<p></p>

  <table class="representation">
        <tr><th>Field</th><th>Required/optional</th><th>Type</th><th>Description</th></tr>
{% for item in page.attachement reversed %} 
    {% for elem in item %} 
      {% if elem.name != nil %}
        {% if elem.type contains 'structure' or elem.type contains 'collection' %}
          <tr class="structure">
        {% else %} 
          <tr>
        {% endif %}
      <td class="name">{{ elem.name }}</td><td class="mandatory">{{ elem.mandatory }}</td><td class="type">{{ elem.type }}</td><td>{{ elem.desc }}</td>
  </tr>
      {% endif %}
    {% endfor %}
{% endfor %}
  </table>


<h3>Example</h3>

<p>Example of an xml representation of a jurisdiction</p>

<pre>
  &lt;jurisdiction&gt;
    &lt;!-- all fields not labelled as mandatory are optional --&gt;
    &lt;atom:link rel="self" href="http://ville.montreal.qc.ca/open511/jurisdiction/ville-montreal/" /&gt; &lt;!-- mandatory --&gt;
    &lt;name&gt;Ville de Montréal&lt;/name&gt; &lt;!-- mandatory --&gt;
    &lt;email&gt;mayor@ville.montreal.qc.ca&lt;/email&gt; &lt;!-- mandatory --&gt;
    &lt;phone&gt;+1 514-872-0000&lt;/phone&gt;
    &lt;atom:link rel="description" href="http://ville.montreal.qc.ca/open511/presentation.html" /&gt;
    &lt;area&gt;
      &lt;gml:Polygon srsName="EPSG:4326"&gt;
        &lt;gml:coordinates&gt;-71.17,47.33 -71.15,47.36 -71.10,47.35 -71.20,47.40&lt;/gml:coordinates&gt;
      &lt;/gml:Polygon&gt;
    &lt;/area&gt;
    &lt;license&gt;
      &lt;atom:link rel="copyright" href="http://donnees.ville.montreal.qc.ca/licence/licence-texte-complet/"/&gt; &lt;!-- mandatory --&gt;
      &lt;licenseName&gt;CC-BY&lt;/licenseName&gt;
      &lt;conditions&gt;
        &lt;condition&gt;ATTRIBUTION&lt;/condition&gt;
        &lt;condition&gt;SHAREALIKE&lt;/condition&gt;
      &lt;/conditions&gt;
    &lt;/license&gt;
    &lt;languages&gt;
      &lt;language&gt;fr&lt;/language&gt;
      &lt;language&gt;en&lt;/language&gt;
    &lt;/languages&gt;
  &lt;/jurisdiction&gt;
</pre>