---
layout: page
title: Root (discovery)
presentation : 
  a :
    name : purpose
    value : The root resource (aka discovery) is the single entry point of an open511 endpoint and provides links to all resources shared by the selected endpoint. In order to get the URL for other resources, a client application must follow the links provided in the discovery resource. Currently, the discovery will contain access to the jurisdictions supported and the events.
  b :
    name : method
    value : GET
representation : 
  a :
    name: self
    mandatory: Mandatory
    type: <a href="guidelines.html#links">Link</a>
    desc: <p>Self link to the current resource. In XML, the <code>rel</code> attribute needs the value <code>self</code>.</p>
  b :
    name: <p>services</p>
    mandatory: Mandatory
    type: Collection of <code>service</code>
    desc: <p>List all the services supported by the endpoint. Currently, only one service is supported (events), so this structure should only contain one item.</p>
  c :
    name: <p>&mdash; type</p>
    mandatory: Mandatory
    type: Value list
    desc: <p>The service type value comes from a predefined list of services that are supported by the open511 API. Currently the only service supported is the event service.</p><p>Value list:</p> <pre>events</pre>
  d :
    name: <p>&mdash; description</p>
    mandatory: Optional
    type: Free text
    desc: <p>Description of the service.<code><a href="https://github.com/opennorth/Open511API/issues/13">Issue 13</a></code></p>
  e :
    name: <p>&mdash; url</p>
    mandatory: Mandatory
    type: <a href="guidelines.html#links">Link</a>
    desc: <p>Link pointing to the jurisdiction resource. In XML, the <code>rel</code> attribute needs the value <code>self</code>. Even if the current endpoint supports multiple jurisdictions or is an aggregator, there is only one service resource that aggregates the data for all the jurisdictions.</p>    
  f :
    name: jurisdictions
    mandatory: Mandatory, at least one <code>jurisdiction</code> element is mandatory
    type: Collection of <code>jurisdiction</code>
    desc: <p>List all the jurisdictions that are supported by the endpoint. Most of the time, there will be only one occurrence, except for multiple jurisdictions endpoints and aggregators.</p>
  g :
    name: <p>&mdash; name</p>
    mandatory: Mandatory
    type: Free text
    desc: <p>Name of the jurisdiction. The field is simply for description and should not be considered as a key</p>
  h :
    name: <p>&mdash;  url</p>
    mandatory: Mandatory
    type: <a href="guidelines.html#links">Link</a>
    desc: <p>Link to the jurisdiction resource. In XML, the <code>rel</code> attribute needs the value <code>self</code>. An aggregator should always point the original jurisdiction resource and not copy it locally.</p>    
---
{% include JB/setup %}
{% include specsnav.html %}

<h3>Overview</h3>

  <table class="resource_pres">
{% for item in page.presentation %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>

<h3>Parameters and filters</h3>

<p>The discovery resource does not support any URL parameter or filter besides the <a href="guidelines.html#format">format selection</a> and the <a href="guidelines.html#lang">language negotiation</a>.</p>


<h3>Example</h3>

<p>Example of the XML and JSON representations of the root resource</p>

<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>
 
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">XML</a></li>
        <li><a href="#tabs-2">JSON</a></li>
    </ul>
    <div id="tabs-1">
<pre class="brush: xml">
&lt;open511
    xmlns:atom="http://www.w3.org/2005/Atom"
    xml:lang="en"
    xml:base="http://api.open511.info/"
&gt;  
  &lt;atom:link rel="self" href="http://api.open511.info/" /&gt;
  &lt;jurisdictions&gt;
    &lt;jurisdiction&gt;
      &lt;name&gt;My City&lt;/name&gt;
      &lt;atom:link rel="self" href="http://my.city.gov/open511/jurisdiction/my-city/" /&gt;
    &lt;/jurisdiction&gt;
    &lt;jurisdiction&gt;
      &lt;name&gt;My Region&lt;/name&gt;
      &lt;atom:link rel="self" href="http://my.region.gov/open511/jurisdiction/my-region/" /&gt;
    &lt;/jurisdiction&gt;    
  &lt;/jurisdiction&gt;
  &lt;services&gt;
    &lt;service&gt;
      &lt;service_type&gt;events&lt;/service_type&gt;
      &lt;service_description&gt;Provide information about events impacting the road system&lt;/service_description&gt;
      &lt;atom:link rel="self" href="http://api.open511.info/events" /&gt;
    &lt;service&gt;
  &lt;/services&gt;
&lt;/open511&gt;
</pre>
    </div>
    <div id="tabs-2">
<pre class="brush: js">
{
  "self" : "http://api.open511.info/"
  "jurisdictions" : [
      {
          "name" : "My City", 
          "url" : "http://my.city.gov/open511/jurisdiction/my-city/"
      },
      {
          "name" : "My Region", 
          "url" : "http://my.region.gov/open511/jurisdiction/my-city/"
      }
  ],
  "services" : [
      {
          "type" : "events",
          "description" : "Provide information about events impacting the road system",
          "url" : "http://api.open511.info/events"
      }
  ]
}
</pre>
</div>
</div>

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>

<h3>Data structure</h3>

<p>The following table provides the data structure for the root resource (aka discovery). Although the format of the representation might change (XML or JSON), the overall data structure should remain except when specified otherwise.



  <table class="representation">
    <tr><th>Field</th><th>Type</th><th>Description</th></tr>
{% assign anchor = 'representation' %}
{% for item in page.representation %} 
   {% include tablegen.html %}
{% endfor %}       
  </table>

<p>&nbsp;</p>


