---
layout: page
title: Jurisdiction
presentation : 
  a :
    name : purpose
    value : The jurisdiction represents any government entity (city, state/province, agency, etc.) publishes open511 data. It is a functional concept used to provide metadata about events such as contact information, etc.
  b :
    name : method
    value : GET
representation : 
  a :
    name: self
    mandatory: Mandatory
    type: <a href="guidelines.html#links">Link</a>
    desc: <p>Self link to the current resource. In XML, the <code>rel</code> attribute needs the value <code>self</code></p>
  b :
    name: up
    type: <a href="guidelines.html#links">Link</a> 
    mandatory: Mandatory
    desc: <p>Link to the parent resource. In XML, the <code>rel</code> attribute needs the value <code>up</code></p>
  c :
    name: name
    type: free text
    mandatory: Mandatory
    desc: <p>Name of the jurisdiction.</p>
  d :
    name: email
    type: Free text
    mandatory: Mandatory
    desc: <p>Valid email that can be used to contact the department or person in charge of the data provided by the Open511 API</p>    
  e :
    name: url
    type: <a href="guidelines.html#links">Link</a>
    mandatory: Optional
    desc: <p>Link pointing to a human readable resource (web page, pdf file, etc) providing details about the Open511 service and the jurisdiction covered.</p>  
  f :
    name: phone
    type: Free text
    mandatory: Optional
    desc: <p>Phone number to contact the department or person in charge of the data provided by the Open511 API</p>  
  g :
    name: description
    type: Free text
    mandatory: Optional
    desc: <p>Free text that can be used by a client application to provide some information about the Open511 service and the jurisdiction covered.</p> 
  h :
    name: area
    type: <a href="guidelines.html#geospatial">geography field</a>
    mandatory: Mandatory <code><a href="https://github.com/opennorth/Open511API/issues/14">Issue 14</a></code>
    desc: <p>Geographical coverage of the jurisdiction. This field only accepts a polygon or multipolygons.</p>
  i :
    name: license
    type: <a href="#license">License</a> structure
    mandatory: Mandatory
    desc: <p>Provides information concerning the license covering the data provided by the API. <code><a href="https://github.com/opennorth/Open511API/issues/6">Issue 6</a></code></p> 
  k :
    name: languages
    type: Collection of <code>language</code>
    mandatory: Optional
    desc: <p>List of languages supported by this endpoint. A <code>language</code> element should be provided for each language supported</p> 
  m :
    name: <p>&mdash;  language</p>
    type: Enum
    mandatory: Mandatory
    desc: <p>Multiple occurrences supported. The values supported are the same as the <a href="guidelines.html#lang">language negotiation</a> feature</p>  
license : 
  a :
    name: url
    type: <a href="guidelines.html#links">Link</a>
    mandatory: Mandatory
    desc: <p>Direct link to the license covering the data provided by the API.  In XML, the <code>rel</code> attribute needs the value <code>license</code></p>     
  b :
    name: licenseName
    type: Enum
    mandatory: Optional
    desc: <p>The name of one of the well-known licenses and part of the enum supported by open511 </p><p>Enum:</p><pre>- ODBL<br>- CC0<br>- CC-BY<br>- ...</pre>
  c :
    name: licenseConditions
    type: Collection of <code>condition</code>
    mandatory: Optional
    desc: <p>List of languages supported by this endpoint. A <code>language</code> element should be provided for each language supported</p> 
  d :
    name: <p>&mdash; licenseCondition</p>
    type: Enum
    mandatory: At least one element mandatory if the licenseConditions structure is present
    desc: <p>Generic conditions that are contained in the license.</p><p>Enum:</p><pre>- ATTRIBUTION<br>- SHAREALIKE<br>- ...</pre>     
---
{% include JB/setup %}

{% include specsnav.html %}

<h3>Overview</h3>

  <table class="resource_pres">
{% for item in page.presentation %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Parameters and filters</h3>

<p>The jurisdiction resource does not support any URL parameter or filter besides <a href="guidelines.html#format">format selection</a> and <a href="guidelines.html#lang">language negotiation</a>.</p>


<h3>Example</h3>

<p>Example of the XML and JSON representations of the jurisdiction resource</p>

<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>
 
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">XML</a></li>
        <li><a href="#tabs-2">JSON</a></li>
    </ul>
    <div id="tabs-1">
<pre class="brush: xml">
&lt;open511
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:gml="http://www.opengis.net/gml"
    xml:lang="en"
    xml:base="http://my.city.gov/open511/"
&gt;  
  &lt;jurisdiction&gt;
    &lt;atom:link rel="self" href="http://my.city.gov/open511/jurisdiction/my-city/" /&gt;
    &lt;atom:link rel="up" href="http://my.city.gov/open511/" /&gt;    
    &lt;name&gt;My City&lt;/name&gt;
    &lt;email&gt;mayor@my.city.gov&lt;/email&gt;
    &lt;phone&gt;+1 555-555-0000&lt;/phone&gt;
    &lt;description&gt;Official traffic data (construction) from My City&lt;/phone&gt;
    &lt;atom:link rel="description" href="http://my.city.gov/open511/presentation.html" /&gt;
    &lt;area&gt;
      &lt;gml:Polygon srsName="EPSG:4326"&gt;
        &lt;gml:coordinates&gt;-71.17,47.33 -71.15,47.36 -71.10,47.35 -71.20,47.40 -71.17,47.33&lt;/gml:coordinates&gt;
      &lt;/gml:Polygon&gt;
    &lt;/area&gt;
    &lt;license&gt;
      &lt;atom:link rel="license" href="http://my.city.gov/opendatalicense/"/&gt;
      &lt;licenseName&gt;CC-BY&lt;/licenseName&gt;
      &lt;conditions&gt;
        &lt;condition&gt;ATTRIBUTION&lt;/condition&gt;
        &lt;condition&gt;SHAREALIKE&lt;/condition&gt;
      &lt;/conditions&gt;
    &lt;/license&gt;
    &lt;languages&gt;
      &lt;language&gt;fr&lt;/language&gt;
      &lt;language&gt;en&lt;/language&gt;
    &lt;/languages&gt;
  &lt;/jurisdiction&gt;
&lt;/open511&gt;  
</pre>
    </div>
    <div id="tabs-2">
<pre class="brush: js">
{
  "self" : "http://my.city.gov/open511/jurisdiction/my-city/",
  "up" : "http://my.city.gov/open511/",
  "name" : "My City",
  "email" : "mayor@my.city.gov",
  "phone" : "1 555-555-0000",
  "description" : "Official traffic data (construction) from My City",
  "url" : "http://my.city.gov/open511/presentation.html",
  "area" :  {
      "type": "Polygon",
      "coordinates": [
          [ [71.17,47.33], [-71.15,47.36], [-71.10,47.35],
              [-71.20,47.40], [-71.17,47.33] ]
          ]
    },
  "license" : {
      "url" : "http://my.city.gov/opendatalicense/",
      "name" : "CC-BY",
      "conditions" : ["ATTRIBUTION", "SHAREALIKE"]
    },
  "languages" : ["en", "fr"]
}
</pre>
</div>
</div>

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>


<h3>Jurisdiction data structure</h3>

<p>The following table provides the struture of the message expected for this resource. Although the format of the representation might change (XML or JSON), the overall data structure should remain except when specified otherwise.</p>

<p><code><a href="https://github.com/opennorth/Open511API/issues/15">Issue 15</a></code></p>

  <table class="representation">
        <tr><th>Field</th><th>Type</th><th>Description</th></tr>
{% assign anchor = 'representation' %}
{% for item in page.representation %} 
   {% include tablegen.html %}
{% endfor %}   
     </table>

<a id="license"></a>
<h3>License data structure</h3>

  <table class="representation">
        <tr><th>Field</th><th>Type</th><th>Description</th></tr>
{% assign anchor = 'license' %}
{% for item in page.license %} 
   {% include tablegen.html %}
{% endfor %}   
     </table>     

