---
layout: page
title: Jurisdiction
presentation : 
  purpose :
    name : purpose
    value : The jurisdiction represents any government entity (city, state, agency) that wants to publish open511 data. It is a functional concept used to provide some metadata about events like contact information
  method :
    name : method
    value : GET
parameters : 
  lang :
    name : lang
    required : optional 
    description : <p>Specify the language requested. This url parameter overrides the corresponding HTTP header. Values are usual language part of the local (cf ...).</p> <p>The behaviour is the same as the HTTP, several coma-separated values can be provided in the order of priority. If not lang attribute is provided or if the language requested is not available, a fallback language is used (the default value is configured by the end point).</p> <pre>...?lang=fr,en</pre>
  format :
    name : format
    required : optional
    description : <p>Specify the type of representation. This url parameter overrides the corresponding HTTP header. Possible values are <code>xml</code> and <code>json</code>. If no value is provided for the representation, the API will default to xml. </p> <pre>...?format=json</pre>
representation : 
  a :
    name: self
    mandatory: Mandatory
    type: Atom link
    desc: <p>Self link to the current resource using atom link structure with <code>self</code> attribute</p>.<pre>&lt;atom:link rel="self" href="http://ville.montreal.qc.ca/open511/jurisdiction/ville-montreal/" /&gt; </pre> 
  b :
    name: parent
    type: Atom link    
    mandatory: Mandatory
    desc: <p>Self link to the parent resource using atom link structure with <code>parent</code> attribute</p>
  c :
    name: name
    type: String (free text)
    mandatory: Mandatory
    desc: <p>Name of the jurisdiction.</p>
  d :
    name: email
    type: String (free text)
    mandatory: Mandatory
    desc: <p>Valid email that can be used to contact the department or the person in charge of the data provided by the Open511 API</p>    
  e :
    name: url
    type: String (free text)
    mandatory: Optional
    desc: <p>Human readable resource providing detail about the Open511 service and the jurisdiction covered.</p>  
  f :
    name: phone
    type: String (free text)
    mandatory: Optional
    desc: <p>Phone number to contact the department or the person in charge of the data provided by the Open511 API</p>  
  g :
    name: description
    type: String (free text)
    mandatory: Optional
    desc: <p>Free text that can be used by a client application to provide some information about the Open511 service and the jurisdiction covered.</p> 
  h :
    name: area
    type: GML notation
    mandatory: Mandatory
    desc: <p>Geographical coverage of the jurisdiction. This field only accepts a polygon or a multipolygon</p><pre><gml:Polygon srsName="EPSG:4326"><br>  <gml:coordinates>-71.17,47.33 -71.15,47.36 -71.10,47.35 -71.20,47.40</gml:coordinates><br></gml:polygon></pre> 
  i :
    name: <p>&darr;&darr; license</p>
    type: structure
    mandatory: Mandatory
    desc: <p>Provides information concerning the license covering the data provided by the API.</p> 
  j :
    name: <p>&mdash; url</p>
    type: Atom link
    mandatory: Mandatory
    desc: <p>Direct link to the license covering the data provided by the API</p>     
  k :
    name: <p>&mdash; license_name</p>
    type: Enum
    mandatory: Optional
    desc: <p>If the license if one of the well-known license and part of the enum supported by open511, it possible to add it in this field.</p><p>Enum:</p><pre>- ODBL<br>- CC0</pre>
  l :
    name: <p>&darr;&darr; languages</p>
    type: structure
    mandatory: Optional
    desc: <p>List of languages supported by this endpoint. A <code>language</code> element should be provided for each language supported</p> 
  m :
    name: <p>&mdash;  language</p>
    type: Enum
    mandatory: Mandatory
    desc: <p>Multiple occurrences supported. The value supported corresponds the value supported by the <code>Accept-language</code></p>  
---
{% include JB/setup %}

{% include specsnav.html %}

<p>The following page presents the XML representation of the jurisdiction resource within open511.</p>


<h3>URL</h3>

The URL of the jurisdiction resource should be retrieved from the 

  <table class="resource_pres">
{% for item in page.presentation reversed %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Parameters</h3>

  <table class="parameters">
        <tr><th>Parameter</th><th>Required/optional</th><th>Description</th></tr>
{% for item in page.parameters reversed %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td>{{ elem.name }}</td><td>{{ elem.required }}</td><td>{{ elem.description }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Representation</h3>

<p>The following table prodive the struture of the message to be expected for this resource. Although the format of the representation might change (xml or json), the overall data structure should be the same except when specified otherwise.

  <table class="representation">
        <tr><th>Field</th><th>Required/optional</th><th>Type</th><th>Description</th></tr>
{% for item in page.representation reversed %} 
    {% for elem in item %} 
      {% if elem.name != nil %}
        {% if elem.type == 'structure' %}
          <tr class="structure">
        {% else %} 
          <tr>
        {% endif %}
      <td class="name">{{ elem.name }}</td><td class="mandatory">{{ elem.mandatory }}</td><td class="type">{{ elem.type }}</td><td>{{ elem.desc }}</td>
  </tr>
      {% endif %}
    {% endfor %}
{% endfor %}
  </table>

<h3>Example</h3>

<p>Example of an xml representation of a jurisdiction</p>

<pre>
  &lt;jurisdiction&gt;
    &lt;!-- all fields not labelled as mandatory are optional --&gt;
    &lt;atom:link rel="self" href="http://ville.montreal.qc.ca/open511/jurisdiction/ville-montreal/" /&gt; &lt;!-- mandatory --&gt;
    &lt;name&gt;Ville de Montréal&lt;/name&gt; &lt;!-- mandatory --&gt;
    &lt;email&gt;mayor@ville.montreal.qc.ca&lt;/email&gt; &lt;!-- mandatory --&gt;
    &lt;phone&gt;+1 514-872-0000&lt;/phone&gt;
    &lt;atom:link rel="description" href="http://ville.montreal.qc.ca/open511/presentation.html" /&gt;
    &lt;area&gt;
      &lt;gml:Polygon srsName="EPSG:4326"&gt;
        &lt;gml:coordinates&gt;-71.17,47.33 -71.15,47.36 -71.10,47.35 -71.20,47.40&lt;/gml:coordinates&gt;
      &lt;/gml:Polygon&gt;
    &lt;/area&gt;
    &lt;license&gt;
      &lt;atom:link rel="copyright" href="http://donnees.ville.montreal.qc.ca/licence/licence-texte-complet/"/&gt; &lt;!-- mandatory --&gt;
      &lt;licenseName&gt;CC-BY&lt;/licenseName&gt;
      &lt;conditions&gt;
        &lt;condition&gt;ATTRIBUTION&lt;/condition&gt;
        &lt;condition&gt;SHAREALIKE&lt;/condition&gt;
      &lt;/conditions&gt;
    &lt;/license&gt;
    &lt;languages&gt;
      &lt;language&gt;fr&lt;/language&gt;
      &lt;language&gt;en&lt;/language&gt;
    &lt;/languages&gt;
  &lt;/jurisdiction&gt;
</pre>