---
layout: page
title: Common parameters for resources
parameters : 
  lang :
    name : lang
    required : optional 
    description : <p>Specify the language requested. This url parameter overrides the corresponding <a href="header.html#parameters-Accept-Language">HTTP header</a>.</p> <p>The behaviour is the same as the HTTP, several coma-separated values can be provided in the order of priority. If not lang attribute is provided or if the language requested is not available, a fallback language is selected by the server (the default value is configured by the end point).</p> <pre>...?lang=fr,en</pre>
  format :
    name : format
    required : optional
    description : <p>Specify the type of representation. This url parameter overrides the corresponding HTTP header. Possible values are <code>xml</code> and <code>json</code>. If no value is provided for the representation, the API will default to xml. </p> <pre>...?format=json</pre>
---
{% include JB/setup %}

{% include specsnav.html %}

<h3>Parameters</h3>

<p>All the resources have to support some common URL parameters that helps the content negociation.</p>

  <table class="parameters">
        <tr><th>Parameter</th><th>Required/optional</th><th>Description</th></tr>
{% assign anchor = 'parameters' %}
{% for item in page.parameters reversed %} 
   {% include paramgen.html %}
{% endfor %}
  </table>
