---
layout: page
title: Root (discovery)
presentation : 
  a :
    name : purpose
    value : The root resource (aka discovery) provides link to all the resources shared by the selected endpoint. In order to get the link to the other resources, a client application must follow the links provided in the discovery resource. Currently, the discovery will contain access to the jurisdictions supported and the events.
  b :
    name : method
    value : GET
representation : 
  a :
    name: Self
    mandatory: Mandatory
    type: Atom link
    desc: <p>Self link to the current resource using atom link structure with <code>self</code> attribute.<pre>&lt;atom:link rel="self" href="http://ville.montreal.qc.ca/open511/" /&gt; </pre> </p>
  b :
    name: <p>&darr;&darr;services</p>
    mandatory: Mandatory
    type: Collection of <code>service</code>
    desc: <p>List all the services supported by the endpoint. Currently, only one service is supported (events), so this structure should only contain on item.</p><pre>  &lt;services&gt;<br>    &lt;service&gt;<br>      &lt;service_type&gt;events&lt;/service_type&gt;<br>      &lt;service_description&gt;A description&lt;/service_description&gt;<br>      &lt;atom:link rel="self" href="http&colon;//api.open511.info/events" /&gt;<br>    &lt;service&gt;<br>  &lt;/services&gt;</pre>
  c :
    name: <p>&mdash; service_type</p>
    mandatory: Mandatory
    type: Value list
    desc: <p>List of predefined services that are supported by the open511 API. For the moment the only service designed is the event service.</p><p>Value list:</p> <pre>events</pre>
  d :
    name: <p>&mdash; service_description</p>
    mandatory: Optional
    type: Free text
    desc: <p>Description of the service.</p>
  e :
    name: <p>&mdash; service URL</p>
    mandatory: Mandatory
    type: Atom link
    desc: <p>Atom link with a <code>self</code> attribute the points to the service resource. An agregator will have a local resource for any given service and will publish the content from various jurisdictions.</p>    
  f :
    name: <p>&darr;&darr;jurisdictions</p>
    mandatory: Mandatory, at least one <code>jurisdiction</code> element is mandatory
    type: Collection of <code>jurisdiction</code>
    desc: <p>List all the jurisdictions that are supported by the endpoint. Most of the time, there will be only one occurrence, except for multiple jurisdictions endpoints and agregators.</p><pre>  &lt;jurisdictions&gt;<br>    &lt;jurisdiction&gt;<br>      &lt;name&gt;Ville de Montréal&lt;/name&gt;<br>      &lt;atom:link rel="self" href="http&colon;//ville.montreal.qc.ca/open511/jurisdiction/ville-montreal/" /&gt;<br>    &lt;/jurisdiction&gt;<br>  &lt;/jurisdiction&gt;</pre>
  g :
    name: <p>&mdash; name</p>
    mandatory: Mandatory
    type: Free text
    desc: <p>Name of the jurisdiction. The field is purely description and should not be considered as a key</p>
  h :
    name: <p>&mdash; jurisdiction URL</p>
    mandatory: Mandatory
    type: Atom link
    desc: <p>Atom link with a <code>self</code> attribute the points to the complete description of the jurisdiction. An agregator should always point the original jurisdiction resource and not copy it locally.</p>    
---
{% include JB/setup %}
{% include specsnav.html %}


<p>Following the guidelines of the REST architecture, the Open511 provides a single entry point that provides links to all the resources of the API. The root URL is the only that needs to be published when a juridiction sets up a 511 endpoint and client always rely on the links provided by the discovery resource to locate other resources.</p>


<h3>Overview</h3>

  <table class="resource_pres">
{% for item in page.presentation reversed %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>
<p>&nbsp;</p>

<h3>Parameters</h3>

<p>The discovery resource only supports the <a href="parameters.html">common URL paramaters</a><p>
<p>&nbsp;</p>

<h3>Representation</h3>

<p>The following table provides the data structure for the root resource (aka discovery). Although the format of the representation might change (XML or JSON), the overall data structure should be the same except when specified otherwise.



  <table class="representation">
        <tr><th>Field</th><th>Type</th><th>Description</th></tr>
{% assign anchor = 'representation' %}
{% for item in page.representation reversed %} 
   {% include tablegen.html %}
{% endfor %}       
  </table>

<p>&nbsp;</p>

<h3>Example</h3>



<p>Example of an XML representation of a jurisdiction</p>



    <script>
    $(function() {
        $( "#tabs" ).tabs();
    });
    </script>
 
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">XML</a></li>
        <li><a href="#tabs-2">JSON</a></li>
    </ul>
    <div id="tabs-1">
<pre class="brush: xml"  style="white-space: pre-wrap;">
  &lt;atom:link rel="self" href="http://api.open511.info/" /&gt;
  &lt;jurisdictions&gt;
    &lt;jurisdiction&gt;
      &lt;name&gt;Ville de Montréal&lt;/name&gt;
      &lt;atom:link rel="self" href="http://ville.montreal.qc.ca/open511/jurisdiction/ville-montreal/" /&gt;
    &lt;/jurisdiction&gt;
  &lt;/jurisdiction&gt;
  &lt;services&gt;
    &lt;service&gt;
      &lt;service_type&gt;events&lt;/service_type&gt;
      &lt;service_description&gt;Provide information about events impacting the road system&lt;/service_description&gt;
      &lt;atom:link rel="self" href="http://api.open511.info/events" /&gt;
    &lt;service&gt;
  &lt;/services&gt;
</pre>
    </div>
    <div id="tabs-2">
<pre class="brush: js" style="white-space: pre-wrap;">
    "content": [
        {
            "status": "active", 
            "lastUpdate": "2012-09-19T17:49:16.392996+00:00", 
            "description": "Localisation: Rue Sauv\u00e9 Est, c\u00f4t\u00e9 sud \u00e0 lest du 220 et \u00e0 proximit\u00e9 de la rue Laverdure", 
            "schedule": {
                "startDate": "2012-05-28", 
                "endDate": "2012-07-15"
            }, 
            "url": "/events/montreal/7894f73ce2243bc24810fa0048a4a819/", 
            "eventType": "Roadwork", 
            "jurisdiction": "http://dev.open511.ca/jurisdictions/montreal/", 
            "geometry": {
                "type": "Point", 
                "coordinates": [
                    -73.6585181951523, 
                    45.5487123139747
                ]
            }, 
            "related": "http://ville.montreal.qc.ca/pls/portal/docs/PAGE/M_CHANTIER_FR/MEDIA/DOCUMENTS/CSEM_SAUV%C9.PDF", 
            "headline": "R\u00e9fection d'infrastructures souterraines", 
            "creationDate": "2012-09-19T17:47:46.644610+00:00"
        }, 
</pre>
    </div>
</div>

    <script type="text/javascript">
     SyntaxHighlighter.all()
</script>
