---
layout: page
title: Root (discovery)
presentation : 
  a :
    name : purpose
    value : The root (or discovery) resource is the single entry point of an open511 endpoint. By following links from the discovery resource, clients can find and gain access to all resources within an Open511 implementation.
  b :
    name : method
    value : GET
representation : 

#    - name: self
#      mandatory: Mandatory
#      type: <a href="guidelines.html#links">Link</a>
#      desc: <p>Self link to the current resource. In XML, the <code>rel</code> attribute needs the value <code>self</code>.</p>

    - name: jurisdictions
      mandatory: Mandatory, at least one <code>jurisdiction</code> element is mandatory
      type: Collection of <code>jurisdiction</code>
      desc: <p>List all the jurisdictions that are supported by the endpoint. Most of the time, there will be only one occurrence, except for multiple jurisdictions endpoints and aggregators.</p>

    - name: <p>&mdash; id</p>
      mandatory: Mandatory
      type: String
      desc: <p>ID of the jurisdiction.</p>

    - name: <p>&mdash; name</p>
      mandatory: Mandatory
      type: Free text
      desc: <p>Full text name of the jurisdiction.</p>

    - name: <p>&mdash;  url</p>
      mandatory: Mandatory
      type: <a href="guidelines.html#links">Link</a>
      desc: <p>Link to the jurisdiction resource. In XML, the <code>rel</code> attribute needs the value <code>self</code>. An aggregator should always point the original jurisdiction resource and not copy it locally.</p>  
      
    - name: <p>services</p>
      mandatory: Mandatory
      type: Collection of <code>service</code>
      desc: <p>List all the services supported by the endpoint.</p>

    - name: <p>&mdash; service_type</p>
      mandatory: Mandatory
      type: Enum
      desc: <p>The service type value comes from a predefined list of services that are supported by the open511 API.</p><p>Value list:</p> <pre>- EVENTS<br/>- AREAS</pre>

    - name: <p>&mdash; url</p>
      mandatory: Mandatory
      type: <a href="guidelines.html#links">Link</a>
      desc: <p>Link pointing to the resource. In XML, the <code>rel</code> attribute needs the value <code>self</code>. Even if the current endpoint supports multiple jurisdictions or is an aggregator, there is only one service resource that aggregates the data for all the jurisdictions.</p>    

    - name: <p>&mdash;supported_versions</p>
      mandatory: Optional
      type: Collection of <code>supported_version</code>
      desc: <p>List all the versions supported by the current server.</p>

    - name: <p>&mdash; &mdash; supported_version</p>
      mandatory: Optional
      type: Enum
      desc: <p>Version identifier. As the specification evolves, version identifiers will be added. For the moment, the only version supported is <code>v0</code> and is not an official value.</p>
  
---
{% include JB/setup %}
{% include specsnav.html %}

<h3>Overview</h3>

  <table class="resource_pres">
{% for item in page.presentation %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>

<h3>Parameters and filters</h3>

<p>The discovery resource does not support any URL parameter or filter besides the <a href="guidelines.html#format">format selection</a> and the <a href="guidelines.html#lang">language negotiation</a>.</p>


<h3>Example</h3>

<p>Example of the XML and JSON representations of the discovery resource</p>

<script>
$(function() {
    $( "#tabs" ).tabs();
});
</script>
 
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">XML</a></li>
        <li><a href="#tabs-2">JSON</a></li>
    </ul>
    <div id="tabs-1">
<pre class="brush: xml">
&lt;open511
    xml:lang="en"
    xml:base="http://api.open511.info/"
    version="v0"
&gt;  
  &lt;jurisdictions&gt;
    &lt;jurisdiction&gt;
      &lt;id&gt;mycity.gov&lt;/id&gt;
      &lt;name&gt;My City&lt;/name&gt;
      &lt;link rel="self" href="http://mycity.gov/open511/jurisdiction/mycity.gov/" /&gt;
    &lt;/jurisdiction&gt;
    &lt;jurisdiction&gt;
      &lt;id&gt;mycounty.gov&lt;/id&gt;
      &lt;name&gt;My County&lt;/name&gt;
      &lt;link rel="self" href="http://mycounty.gov/open511/jurisdiction/mycounty.gov/" /&gt;
    &lt;/jurisdiction&gt;    
  &lt;/jurisdictions&gt;
  &lt;services&gt;
    &lt;service&gt;
      &lt;service_type&gt;EVENTS&lt;/service_type&gt;
      &lt;link rel="self" href="/events/" /&gt;
    &lt;/service&gt;
    &lt;service&gt;
      &lt;service_type&gt;AREAS&lt;/service_type&gt;
      &lt;link rel="self" href="/areas/" /&gt;
    &lt;/service&gt;    
  &lt;/services&gt;
  &lt;link rel="self" href="/"/&gt;
&lt;/open511&gt;
</pre>
    </div>
    <div id="tabs-2">
<pre class="brush: js">
{
  "jurisdictions" : [
      {
          "id" : "mycity.gov", 
          "name" : "My City",           
          "url" : "http://mycity.gov/open511/jurisdiction/mycity.gov/"
      },
      {
          "id" : "myregion.gov", 
          "name" : "My Region",               
          "url" : "http://myregion.gov/open511/jurisdiction/myregion.gov/"
      }
  ],
  "services" : [
      {
          "service_type" : "EVENTS",
          "url" : "/events/"
      },
      {
          "service_type" : "AREAS",
          "url" : "/areas/"
      }      
  ],
  "meta": {
      "version": "v0",
      "url": "/"
  }

}
</pre>
</div>
</div>

<script type="text/javascript">
     SyntaxHighlighter.all()
</script>

<h3>Data structure</h3>

<p>The following table provides the data structure for the root (discovery) resource.</p>

<p>Note that the discovery resource follows the rules of an individual item in <a href="guidelines.html#format">formatting guidelines</a> and <b>not</b> of list since it contains different types of items. There is no <code>up</code> link since the discovery is the upper level.</p>



  <table class="representation">
    <tr><th>Field</th><th>Type</th><th>Description</th></tr>
{% assign anchor = 'representation' %}
{% for item in page.representation %} 
   {% include tablegen.html %}
{% endfor %}       
  </table>

<p>&nbsp;</p>


