---
layout: page
title: Event Schedule Proposal
presentation : 
  a :
    name : purpose
    value : An in-progress proposal to improve the schedule component of the Event resource

---
{% include JB/setup %}

{% include specsnav.html %}

{% include draft_warning.html %}


<h3>Overview</h3>

  <table class="resource_pres">
{% for item in page.presentation %} 
  <tr>
    {% for elem in item %} 
      {% if elem.name != nil %}
      <td class="vertical_header">{{ elem.name }}</td><td>{{ elem.value }}</td>
      {% endif %}
    {% endfor %}
  </tr>
{% endfor %}
  </table>


<h3>Motivation</h3>

<p>The schedule structure in the current version of the event spec isn't very good at expressing a schedule like <em>May 23 at 5 pm until May 25 at 6 am</em>. It's possible, but it's clunky and done in a way that makes it likely naive clients will display confusing data to users.</p>

<p><b>This is a proposal that's still under discussion.</b> It may not become part of the 1.0 spec.</p> 

<h3>Summary</h3>

<p>We introduce a second type of schedule, <code>intervals</code>, to express one or more blocks of time occurring on specific dates. It uses the ISO 8601 time interval syntax. The schedule format in the current spec remains, and is referred to -- with a couple of small changes in naming and semantics -- as <code>recurring_schedules</code>.</p>

<p>A few details:</p>

<ul>
  <li><code>specific_dates</code> for the current spec is rearranged a little bit and renamed to <code>exceptions</code>; they can now only exist alongside one or more recurring schedules</li>
  <li>An event must include <em>either</em> one or more <code>recurring_schedules</code> (optionally with <code>exceptions</code>) <b>or</b> one or more <code>intervals</code></li>
  <li>Intervals are between a start datetime and an end datetime: <code>2014-05-01T06:00/2015-05-01T09:00</code>. Their time periods cannot overlap. The end can be omitted to indicate "until further notice": <code>2014-05-01T06:00/</code>; the "no overlapping" restriction implies that only a single interval can omit the end time, and it must start later than any other intervals.</li>
</ul>

<h3>Examples</h3>

<p><u>Mon-Fri, 9 a.m. to 5 p.m., during June 2014, except June 24</u></p>
 
<div id="ex1">
    <ul>
        <li><a href="#ex1-1">XML</a></li>
        <li><a href="#ex1-2">JSON</a></li>
    </ul>
    <div id="ex1-1">
        {% highlight xml linenos %}{% include examples/nusched/ex1.xml %}{% endhighlight %}
    </div>
    <div id="ex1-2">
        {% highlight json linenos %}{% include examples/nusched/ex1.json %}{% endhighlight %}
  </div>
</div>

<p><u>June 25 at 5 p.m. until further notice</u></p>
 
<div id="ex2">
    <ul>
        <li><a href="#ex2-1">XML</a></li>
        <li><a href="#ex2-2">JSON</a></li>
    </ul>
    <div id="ex2-1">
        {% highlight xml linenos %}{% include examples/nusched/ex2.xml %}{% endhighlight %}
    </div>
    <div id="ex2-2">
        {% highlight json linenos %}{% include examples/nusched/ex2.json %}{% endhighlight %}
  </div>
</div>

<p><u>June 25 at 5 p.m. until June 26th at 6 a.m.; June 26th at 5 p.m. until June 27th at 6 a.m.</u></p>
 
<div id="ex3">
    <ul>
        <li><a href="#ex3-1">XML</a></li>
        <li><a href="#ex3-2">JSON</a></li>
    </ul>
    <div id="ex3-1">
        {% highlight xml linenos %}{% include examples/nusched/ex3.xml %}{% endhighlight %}
    </div>
    <div id="ex3-2">
        {% highlight json linenos %}{% include examples/nusched/ex3.json %}{% endhighlight %}
  </div>
</div>

<script>
$(function() {
    $( "#ex1" ).tabs();
    $( "#ex2" ).tabs();
    $( "#ex3" ).tabs();
});
</script>
