

>  <Open511>
>   <RoadEvent id="converted.quebec511.gouv.qc.ca:maj2087">
>     <Title>Réaménagement de la route</Title>
>     <AffectedRoads>À Stoneham-et-Tewkesbury, sur l'axe 73/175, à la hauteur de l'échangeur de la route 371 et entre les km 60 et 77</AffectedRoads>
>     <Description>AUTOROUTE LAURENTIENNE</Description>
>     <TrafficRestrictions>Au km 60 à 63 Restriction de largeur à 4 mètres</TrafficRestrictions>
>     <StartDate>2010-02-23</StartDate>
>     <EndDate>2012-06-30</EndDate>
>     <Geometry>
>       <gml:Point srsName="EPSG:4326">
>         <gml:coordinates>-71.176716825884299,47.332546003364001</gml:coordinates>
>       </gml:Point>
>     </Geometry>
>   </RoadEvent>
> </Open511>