<div class="specsnavcontainer">

	<h3>Resources</h3>
	<ul>
	<li><a href="root.html">Root (Discovery)</a></li>
	<li><a href="jurisdiction.html">Jurisdiction</a></li>
	<li><a href="jurisdictiongeo.html">Jurisdiction geography</a></li>
	<li><a href="event.html">Events</a></li>
	<li><a href="area.html">Areas</a></li>	
	</ul>


	<h3>Common</h3>
	<ul>
		<li><a href="documentation.html">Introduction</a></li>
		<li><a href="guidelines.html">Tech Requirements</a></li>
		<li><a href="context.html">Context</a></li>
		<li><a href="history.html">History</a></li>
	</ul>

	<h3>Getting Started</h3>
	<ul>
		<li><a href="consumer_guide.html">For data consumers</a></li>
		<li><a href="implementor_guide.html">For data providers</a></li>
	</ul>

	<h3>Drafts</h3>
	<ul>
		<li><a href="report.html">Reports</a></li>
		<li><a href="camera.html">Traffic cameras</a></li>
		<li><a href="road.html">Roads</a></li>
		<li><a href="traffic_segment.html">Traffic segments</a></li>
		<li><a href="historical_traffic_condition.html">Historical traffic conditions</a></li>
		<li><a href="schedule_proposal.html">Event schedule proposal</a></li>
	</ul>

	<h3>Tools</h3>
	<ul>
		<li><a href="http://validator.open511.org/">Validator</a></li>
		<li><a href="http://demo.open511.org/static/o5ui/example-anyurl.html">Event viewer</a></li>
		<li><a href="http://demo.open511.org/">Implementation demo</a></li>
	</ul>

	<h3>Contribute</h3>
	<ul>
		<li><a href="https://github.com/open511/Open511API/issues">Submit an issue or a comment</a></li>
		<li><a href="https://groups.google.com/forum/?fromgroups#!forum/open511">Join the mailing list</a></li>
		<li><a href="mailto:open511@opennorth.ca">Contact</a></li>
	</ul>
</div>


<div class="warning">Open511 is still in prerelease - version 1.0 should be available soon (fall 2014). Stay tuned!</div>

