*{max-height:10000px;}
body {
	margin: 0;
	font:19px/23px Arial, Helvetica, sans-serif !important;
	color: #3c3c3b !important;
	background:#fff;
	-webkit-text-size-adjust:100%;
	min-width:1000px;
	-ms-text-size-adjust: none;
}
img {border-style: none;}
a {
	text-decoration:underline;
	color: #f39200;
}
a:hover {text-decoration: none;}
a:active {background-color: transparent;}
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
input,
textarea,
select {
	font: 100% Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
input[type="image"]{padding:0;border:none;}
input[type=text], input[type=password], input[type=file], input[type=submit], input[type=tel], input[type=email], textarea{
	-webkit-appearance:none;
	border-radius:0;
}
input[type=submit]:hover{cursor:pointer;}
input[type="submit"]::-moz-focus-inner{border:0}
input[type=search] {-webkit-appearance: none;}
input[type="search"],
input[type="search"]::-webkit-search-cancel-button{
	-webkit-appearance:none;
	-webkit-border-radius:0;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="search"]::-ms-clear{display:none;}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure {
	margin:0;
	padding:0;
}
#header{
	background:#1d1d1b;
	position:relative;
	z-index:10;
}
.header-holder{
	width:986px;
	overflow: hidden;
	margin:0 auto;
	padding: 39px 0px 5px 0;
}
.brand{	margin: 1px 0 0;	width: 149px;	height: 45px;	overflow:hidden;	float:left;	background:url(../images/logo.png) no-repeat;	text-indent:-9999px;}.brand a{	height:100%;	display:block;}
.social-icons{
	float:right;
	margin: 0 3px 0 0;	padding:0;	list-style:none;
}
.social-icons li{
	float:left;
	margin: 0 0 0 19px;
}
.social-icons li a{
	display:block;
	background:url(../images/sprite.png) no-repeat -9999px;
	width: 31px;
	height: 30px;
	text-indent:-9999px;
}
.social-icons li a.ico01{background-position: 0 0;}
.social-icons li a.ico02{background-position: -50px 0px;}
.social-icons li a.ico03{background-position: -100px 0;}
#nav{
	float:right;
	letter-spacing: 1px;
}
#nav ul{
	margin:0;	padding: 8px 18px 0 0;	list-style:none;
	overflow: hidden;
}
#nav ul li{
	float:left;
	position:relative;
	padding: 0 9px 0 10px;
}
#nav ul li:after{	position:absolute;	top:50%;	left:0;
	margin: -11px 0 0;
	width:2px;
	height:22px;
	background:#f49100;	content:'';}
#nav ul li:first-child:after{display:none;}
#nav ul li a{
	color:#fff;
	text-decoration:none;
	line-height: 19px;
}
#nav ul li a:hover{text-decoration:underline;}
.intro{
	position:relative;
	width:100%;
	overflow:hidden;
}
.intro>img{
	display:block;
	margin:0 auto;
}
.intro-text{
	position:absolute;	letter-spacing:1px;
	bottom: 69px;	left:0;
	width:100%;
}
.intro-holder{
	width: 873px;
	margin:0 auto;
}
.intro-text strong{
	font-weight:bold;
	color:#fff;
	background:#382f7b;
	display: block;
	padding: 11px 14px 12px;
	font-size: 26px;
	margin: 0 0 13px;
	width: 517px;
	line-height: 31px;
	border-radius:9px;
}
a.btn-start{
	background:#f39200;
	border-radius:6px;
	display:inline-block;	vertical-align:top;	color:#fff;
	padding: 11px 22px 9px;
	text-decoration:none;
	font-weight:normal;
}
a.btn-start:hover{
	text-decoration:underline;
	color:#fff;
}
.inner .container{
	padding:0 !important;
	width:879px !important;
}
.container-box{
	border-top:3px solid #f4992b;
	padding: 38px 30px 39px;
}
.container-box:first-child{border:0;}
.container-box .page-header{
	text-align:center;
	padding: 0 0 40px;
}
.container-box .page-header h1{
	font-size: 27px;
	position:relative;
	padding:0;
}
.container-box .page-header h1:after{	position:absolute;	top: 5px;
	background:url(../images/sprite.png) no-repeat -9999px;
	width: 103px;
	height: 76px;	left:50%;	content:'';}
.container-box .page-header h1.heading-standard{padding: 119px 0 0;}
.container-box .page-header h1.heading-events{padding: 126px 0 0;}
.container-box .page-header h1.heading-implementation{padding: 106px 0 0px;}
.container-box .page-header h1.heading-standard:after{
	background-position:0 -52px;
	width: 52px;
	margin:0 0 0 -26px;
}
.container-box .page-header h1.heading-events:after{
	background-position:-86px -52px;
	width: 90px;
	margin:0 0 0 -45px;
}
.container-box .page-header h1.heading-implementation:after{
	background-position:-196px -52px;
	width: 103px;
	height: 70px;
	margin:0 0 0 -51px;
}
.container-box .columns{margin:6px 0 4px 4px;}
.container-box .columns .columns-holder{margin: 0 -53px 0 0;}
.container-box .columns .column{
	margin: 0 35px 11px 0;
	width: 250px;
	display:inline-block;	vertical-align:top;}
.container-box .columns.two-columns{margin: -9px 0 0px 4px;}
.container-box .columns.two-columns .column{
	width:370px;
	margin: 0 30px 28px 0;
}
.container-box h3{
	padding: 0 0 23px;
	border:0;
	line-height: 21px;
	text-align:center;
	letter-spacing:1px;
	text-transform:capitalize;
}
.container-box .columns.two-columns h3{
	margin: 0 0 0px;
	padding: 0 0 20px;
}
.container-box .page-header+h3{margin: -15px 0 0;}
.container-box .columns .column p{margin:0 0 5px;}
.container-box p{
	font:19px/23px Arial, Helvetica, sans-serif;
	margin: 0 0 5px;
}
.partners-list{
	margin:0;	padding: 5px 0 26px;	list-style:none;
	text-align:center;
}
.partners-list li{
	display:inline;	margin: 0 47px;
}
.partners-list li a{
	display:inline;
	text-decoration:none;}
.partners-list li img{vertical-align:middle;}
.page-header{
	border:0;
	margin:0;
	padding:74px 0 6px;
}
.page-header h1{
	font:bold 30px/1 Arial, Helvetica, sans-serif;
	color:#372e7b;
	text-transform:uppercase;
	letter-spacing:1px;
	padding-right:250px;
}
.container{overflow:hidden;}
.span12{
	width:auto !important;
	margin:0;
	font-size:15px;
	padding:0 238px 0 0;
}
.row{margin:0;}
body>.container{
	-webkit-box-shadow: 0 0 50px 3px #585857;
	box-shadow: 0 0 50px 3px #585857;
	width:830px;
	padding:0 28px 0 25px;
	margin:0 auto !important;
	border:solid #a6a6a5;
	border-width:0 1px;
}
.ui-corner-all, .ui-corner-bottom,
.ui-corner-right, .ui-corner-br{overflow:hidden;}
.warning{display:none;}
h3{
	font:23px/1 Arial, Helvetica, sans-serif;
	color:#f4992b;
	padding:37px 0 19px;
	border-top:3px solid #f4982b;
	letter-spacing:1px;
}
.warning+h3{border:0;}
.resource_pres{
	width:579px;
	border:1px solid #7e7e7d;
	color:#1d1d1b;
	margin:0 0 46px;
	font-size:14px;
}
.resource_pres td{
	border:solid #7e7e7d;
	border-width:0 0 1px 1px;
	line-height:16px;
	padding:14px 10px 15px 24px;
	word-spacing:-1px;
}
.resource_pres .vertical_header{
	padding:17px 20px;
	background:#e9e8e8;
	width:60px;
	font-weight:bold;
	font-size:15px;
}
.span12 p{
	margin:0 0 42px;
	color:#1d1d1d;
	font-size:14px;
}
.span12 p a{
	color:#9d9d9c;
	text-decoration:underline;
}
.span12 p a:hover{text-decoration:none;}
.span12 .ui-widget-content{
	border-radius:10px;
	padding:7px;
	background:#f5f5f5;
	width:562px;
	margin:0 0 49px;
	border: 1px solid #bfbfbf;
}
.ui-tabs .ui-tabs-nav{
	margin:0 0 8px;	list-style:none;
	padding:2px 17px 0 !important;
	border-radius:10px;
	font-size:15px;
	text-align:center;
	overflow:hidden;
	border: 1px solid #cecece;
	line-height: 1.3;
	position:relative;
	white-space: nowrap;
	background-color: #ececec;
	background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIyOCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNkYmRiZGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNkM2QyZDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNjZGNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2JjYmNiIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(top,  #ececec 0%, #f1f1f1 3%, #eeeeee 8%, #eeeeee 15%, #e3e3e3 28%, #dbdbda 33%, #d3d2d2 50%, #cdcdcd 70%, #cbcbcb 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ececec), color-stop(3%,#f1f1f1), color-stop(8%,#eeeeee), color-stop(15%,#eeeeee), color-stop(28%,#e3e3e3), color-stop(33%,#dbdbda), color-stop(50%,#d3d2d2), color-stop(70%,#cdcdcd), color-stop(100%,#cbcbcb));
	background-image: -webkit-linear-gradient(top,  #ececec 0%,#f1f1f1 3%,#eeeeee 8%,#eeeeee 15%,#e3e3e3 28%,#dbdbda 33%,#d3d2d2 50%,#cdcdcd 70%,#cbcbcb 100%);
	background-image: -o-linear-gradient(top,  #ececec 0%,#f1f1f1 3%,#eeeeee 8%,#eeeeee 15%,#e3e3e3 28%,#dbdbda 33%,#d3d2d2 50%,#cdcdcd 70%,#cbcbcb 100%);
	background-image: -ms-linear-gradient(top,  #ececec 0%,#f1f1f1 3%,#eeeeee 8%,#eeeeee 15%,#e3e3e3 28%,#dbdbda 33%,#d3d2d2 50%,#cdcdcd 70%,#cbcbcb 100%);
	background-image: linear-gradient(to bottom,  #ececec 0%,#f1f1f1 3%,#eeeeee 8%,#eeeeee 15%,#e3e3e3 28%,#dbdbda 33%,#d3d2d2 50%,#cdcdcd 70%,#cbcbcb 100%);
}
.ui-tabs .ui-tabs-nav li{
	border-radius:13px 13px 0 0;
	margin:0 5px -1px 0;
	float:left;
	border: 1px solid #d2d2d2;
	overflow:hidden;
	padding-bottom:1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active a{
	background:#fff;
}
.span12 .ui-tabs .ui-tabs-nav li a{
	padding:11px 5px 8px !important;
	width:61px;
	display:block;
	text-decoration:none;
	color:#212121;
	cursor:pointer;
	border-radius: 13px 13px 0 0;
	font-family:Arial, Helvetica, sans-serif;
}
.ui-widget-content pre{
	background:#fff;
	border-radius:10px;
	padding:9px 10px 8px 14px;
	margin:0;
}
.span12 .ui-tabs .ui-tabs-panel{
	width:auto;
	padding:0;
	margin:0;
}
.specsnavcontainer{
	float:right;
	width:201px;
	border:solid #e5e5e5;
	border-width:2px 1px;
	padding:21px 14px 0 21px;
	background:#f6f6f6;
	-webkit-box-shadow:6px 6px 8px 0 #bdbdbd;
	box-shadow:6px 6px 8px 0 #bdbdbd;
	margin:-46px -238px 0 0;
}
.specsnavcontainer h3{
	padding:0 0 3px;
	border-width:0;
	margin:0 0 8px;
	font-size:19px;
	border-bottom:1px solid #e8e8e8;
	color:#1d1d1b;
	font-weight:bold;
	letter-spacing:0;
}
.specsnavcontainer ul{
	margin:0;
	padding:0 0 6px;
	list-style:none;
}
.specsnavcontainer ul li{margin:0 0 7px;}
.specsnavcontainer ul a{
	color:#3c3c3b;
	text-decoration:none;
}
.specsnavcontainer ul a:hover{text-decoration:underline;}
.navbar{display:none !important;}
.nav-list{
	background:#555656;
	text-transform:uppercase;
	text-align:center;
}
.nav-list ul{
	width: 948px;
	margin:0 auto;
	display:table;
	list-style:none;
	padding:0;
}
.nav-list>ul>li{
	display:table-cell;
	width:500px;
}
.nav-list ul li span{
	position:relative;
	width:100%;
	display:block;
}
.nav-list ul li span:after{
	position:absolute;
	top:50%;
	width:2px;
	left:0;
	margin:-15px 0 0;
	height:31px;
	content:'';
	background:#f39200;
	transform:rotate(0deg) scale(1) skew(-28deg) translate(19px);
	-webkit-transform: rotate(0deg) scale(1) skew(-28deg) translate(0px);
	-moz-transform: rotate(0deg) scale(1) skew(-28deg) translate(0);
	-o-transform: rotate(0deg) scale(1) skew(-28deg) translate(0);
	-ms-transform: rotate(0deg) scale(1) skew(-28deg) translate(0);
}
.nav-list ul li:first-child span:after{display:none;}
.nav-list ul li a{
	color:#fff;
	display:block;
	text-decoration:none;
}
.nav-list>ul>li>span>a{padding:12px 0px 11px;} 
.nav-list ul li a:hover{
	color:#f4982b;
	text-decoration:none;
}
.nav-list ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	width:203px;
	padding:2px 0 1px;
	text-transform:capitalize;
	background:url(../images/bg-drop.png);
}
.nav-list ul li.hover ul{display:block;}
.nav-list ul ul li{
	background:#565654;
	margin:0 0 2px;
	border:1px solid #555656;
	padding:9px 5px 12px;
}
#footer{
	text-align:center;
	background:#1d1d1b;
	padding: 27px 15px 45px;
	font:19px/23px Arial, Helvetica, sans-serif;
}
#footer h4{
	font: bold 19px/1 Arial,Helvetica,sans-serif;
	margin: 0 0 23px;
	color:#f4992b;
	text-transform:uppercase;
}
.footer-list{
	display:inline-block;	vertical-align:top;	letter-spacing:1px;
}
.footer-list li{
	display:inline-block;	vertical-align:top;
	position:relative;
	padding:0 1px 0 11px;}
.footer-list li:after {
	background: none repeat scroll 0 0 #f49100;
	content: "";
	height: 22px;
	left: 0;
	margin: -11px 0 0;
	position: absolute;
	top: 50%;
	width: 2px;
}
.footer-list li:first-child:after{display:none;}
.footer-list li a{
	color:#fff;
	text-decoration:none;
}
.footer-list li a:hover{text-decoration:underline;}
#tabs code{color:#1d1d1b !important;}
.lineno {
	color: #c6c6c6;
	display:inline-block;	vertical-align:top;	width:15px;
	text-align:center;
	padding:0 0 0 3px;
}
.highlight .nt {
	color: #27348b;
	display:inline-block;	vertical-align:top;}
.highlight .na {
	color: #00a19a;
	display:inline-block;	vertical-align:top;}
.highlight .s {
	color: #e30613;
	display:inline-block;	vertical-align:top;}