<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Open511</title>
	<meta name="description" content="Open511, an open format to publish your road event data">
	<meta name="keywords" content="open511, roadwork, open data, road event data, traffic data, Open North" />
	<meta name="author" content="OpenNorth">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat">
	<link media="all" rel="stylesheet" href="/assets/themes/new/css/all.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
	<!--[if IE]><script type="text/javascript" src="js/ie.js"></script><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"><![endif]-->
</head>
	<body class="inner homepage">
		<header id="header">
			<div class="header-holder">
				<a class="brand" href="http://open511.org/">Open511 API</a>
				<ul class="social-icons">
					<li><a class="githubicon" href="https://github.com/opennorth/open511API">GitHub</a></li>
					<!--li><a class="twittericon" href="#">Twitter</a></li>
					<li><a class="onicon" href="#">OpenNorth</a></li-->
				</ul>
				<nav id="nav">
					<ul>
						<li><a href="#about-heading">About</a></li>
						<li><a href="#benefits-heading">Benefits</a></li>
						<li><a href="#documentation-heading">Documentation</a></li>
						<li><a href="#partners-heading">Partners</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="intro">
			<div class="intro-text">
				<div class="intro-holder">
					<strong>Finally! An open format for publishing your road event data</strong>
					<!--a class="btn-start" href="#">Get Started</a-->
				</div>
			</div>
		</div>
		<div class="container">
			<section id="about-heading" class="container-box">
				<header class="page-header">
					<h1 class="heading-standard">ABOUT THE STANDARD</h1>
				</header>
				<p>The open data movement has demonstrated its value to society on many occasions, particularly 
with recent efforts to improve information about transit systems. Following the example of other formats like <abbr title="General Transit Feed Specification">GTFS</abbr>, Open511 proposes a specification for road incident, construction and much more that matches open data criteria. With Open511, public bodies and citizens 
can get the most out of your jurisdiction’s data by turning your road events into powerful 
and innovative software and analysis.</p>
			</section>
			<section id="benefits-heading" class="container-box">
				<header class="page-header">
					<h1 class="heading-events">WHY OPEN ROAD EVENTS?</h1>
				</header>
				<div class="columns">
					<div class="columns-holder">
						<div class="column">
							<h3>interoperable<br />&nbsp;</h3>
							<p>By increasing access to your road event data, you're demonstrating a commitment to robust and transparent information. You will help organizations within your jurisdiction work together and, with the help of fellow adopters, gain access to data that will strengthen your own offerings.</p>
						</div>
						<div class="column">
							<h3>Stimulate <br /> Development</h3>
							<p>When you open your jurisdiction's road event data, you're opening the door to a world of new products and services, creating job opportunities and economic growth along the way.</p>
						</div>
						<div class="column">
							<h3>Interjurisdiction <br /> Communications</h3>
							<p>With wide adoption of Open511, the headaches of sharing construction schedules, festival dates and daily road closures will slip away. Your communication teams will have easy to use cost-effective tools to share road events making their lives easier, and your organization look better.</p>
						</div>
					</div>
				</div>
			</section>
			<!--section class="container-box">
				<header class="page-header">
					<h1>USE CASES</h1>
				</header>
				<h3>Improving Public Safety</h3>
				<p>Public services work better with better information. Open data standards like Open511 help jurisdic- tions maximize their communications offerings by ensuring their employees have all the data they need to do their job efficiently. For example, in North Vancouver, transportation data from the city and province is provided to firefighters within their trucks so they can get to emergency locations as fast as possible by avoiding traffic and construction. Since the roads they frequent are under different jurisidic- tions, its important to have data from different levels of government for a comprehensive view of road conditions. With multi-jurisidictional data sharing, public service and thus civil safety is improved.</p>
			</section-->
			<section id="documentation-heading" class="container-box">
				<header class="page-header">
					<h1 class="heading-implementation">SPECIFICATION &amp; IMPLEMENTATION</h1>
				</header>
				<div class="columns two-columns">
					<div class="columns-holder">
						<div class="column">
							<h3>Documentation</h3>
							<p>The Open511 specification is available <a href="/documentation/1.0/">here</a>. The documentation tracks the status of the specification and provides other resources like existing implementations. You can also submit <a href="https://github.com/opennorth/open511API/issues">issues</a> on GitHub.</p>
							<p class="doc-btn"><a class="btn-start" href="/documentation/1.0/">Documentation</a></p>
						</div>
						<div class="column">
							<h3>Demonstration Site</h3>
							<p>To better understand the usefulness of Open511, it may be helpful to browse the output of Open North's in-progress <a href="http://demo.open511.org/">implementation</a> of the API. You can explore a live demo of the browseable API, and of a map-based interface.</p>
							<p class="doc-btn"><a class="btn-start" href="http://demo.open511.org/">Demo</a></p>							
						</div>
					</div>
				</div>
			</section>
			<section id="partners-heading" class="container-box">
				<header class="page-header">
					<h1>FUNDING</h1>
				</header>
				<ul class="partners-list">
					<li><a href="http://www.nrcan.gc.ca">
							<img src="/assets/themes/new/images/flag-canada.png" alt="Natural Resources Canada" />
						</a>
					</li>
					<li><a href="http://geoconnections.nrcan.gc.ca/">
							<img src="/assets/themes/new/images/geoc_logo.png" alt="GeoConnections" />
						</a>
					</li>				
				</ul>
				<header class="page-header">
					<h1>PARTNERS</h1>
				</header>
				<ul class="partners-list">
					<li><a href="http://www.mtc.ca.gov/">
							<img src="/assets/themes/new/images/mtc-logo.png" alt="Metropolitan Transportation Commission" />
						</a>
					</li>
					<li><a href="http://www.gov.bc.ca/tran/">
							<img src="/assets/themes/new/images/BC_logo.png" alt="British Columbia" />
						</a>
					</li>					
                                        <li><a href="http://opennorth.ca">
                                                        <img src="/assets/themes/new/images/opennorth.png" alt="Open North" />
                                                </a>
                                        </li>
				</ul>				
			</section>
		</div>
		<footer id="footer">
			<h4>INTERESTED IN OPEN511?</h4>
			<ul class="footer-list">
				<li><a href="mailto:open511@opennorth.ca">Contact Us</a></li>
				<li><a href="https://groups.google.com/forum/?fromgroups#!forum/open511">Join the Mailing List</a></li>
				<li><a href="https://github.com/opennorth/Open511API/issues?state=open">Submit an Issue or a Comment</a></li>
			</ul>
		</footer>
	</body>
</html>
