<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Root (discovery)</title>
	<link href="Root%20%28discovery%29_files/bootstrap.css" rel="stylesheet">
	<link media="all" rel="stylesheet" href="/assets/themes/new/css/all.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.8.3.min.js"><\/script>')</script>
	<script src="js/jquery.main.js"></script>
	<!--[if IE]><script type="text/javascript" src="js/ie.js"></script><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen"><![endif]-->
</head>
	<body class="inner">
		<header id="header">
			<div class="header-holder">
				<a class="brand" href="http://open511.org/">Open511 API</a>
				<ul class="social-icons">
					<li><a class="ico01" href="#">ico01</a></li>
					<li><a class="ico02" href="#">ico02</a></li>
					<li><a class="ico03" href="#">ico03</a></li>
				</ul>
				<nav id="nav">
					<ul>
						<li><a href="#about-heading">About</a></li>
						<li><a href="#benefits-heading">Benefits</a></li>
						<li><a href="#documentation-heading">Documentation</a></li>
						<li><a href="#partners-heading">Partners</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="intro">
			<img src="/assets/themes/new/images/img01.jpg" width="1086" height="274" alt="image description" />
			<div class="intro-text">
				<div class="intro-holder">
					<strong>Finally! An open format for publishing your road event data</strong>
					<a class="btn-start" href="#">Get Started</a>
				</div>
			</div>
		</div>
		<div class="container">
			<section id="about-heading" class="container-box">
				<header class="page-header">
					<h1 class="heading-standard">ABOUT THE STANDARD</h1>
				</header>
				<p>The open data movement has demonstrated its value to society on many occasions, particularly 
with recent efforts to improve information about transit systems. Following the example of <a href="#">Open311</a>, 
this initiative proposes a specification for road event data that matches open data criteria and will 
also advocate for public organizations to publish traffic data. With Open511, developers and citizens 
can get the most out of your jursidiction’s data by turning your road events into powerful 
and innovative software and analysis.</p>
			</section>
			<section id="benefits-heading" class="container-box">
				<header class="page-header">
					<h1 class="heading-events">WHY OPEN ROAD EVENTS?</h1>
				</header>
				<div class="columns">
					<div class="columns-holder">
						<div class="column">
							<h3>interoperable</h3>
							<p>By increasing access to your road event data, you're demonstrating a commitment to robust and transparent information. You will help organizations within your jurisdiction work together and, by with the help of fellow adopters, gain access to data that will strengthen your own offerings.</p>
						</div>
						<div class="column">
							<h3>Stimulate<br /> Development</h3>
							<p>When you open your juris diction's road event data, you're opening the door to a world of new products and services, creating job opper tunities and economic growth along the way. To learn more about how open  data can facilitate growth,contact our team.</p>
						</div>
						<div class="column">
							<h3>Interjurisdiction<br /> Communications</h3>
							<p>With wide adoption of Open511, the headaches of sharing construction sched- ules, festival dates and daily road closures will slip away. Your corrrnunications teams will have easy to use and cost-effective tools to share  road events making their lives easier, and your juris-diction look better.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="container-box">
				<header class="page-header">
					<h1>USE CASES</h1>
				</header>
				<h3>Improving Public Safety</h3>
				<p>Public services work better with better information. Open data standards like Open511 help jurisdic- tions maximize their communications offerings by ensuring their employees have all the data they need to do their job efficiently. For example, in North Vancouver, transportation data from the city and province is provided to firefighters within their trucks so they can get to emergency locations as fast as possible by avoiding traffic and construction. Since the roads they frequent are under different jurisidic- tions, its important to have data from different levels of government for a comprehensive view of road conditions. With multi-jurisidictional data sharing, public service and thus civil safety is improved.</p>
			</section>
			<section id="documentation-heading" class="container-box">
				<header class="page-header">
					<h1 class="heading-implementation">SPECIFICATION & IMPLEMENTATION</h1>
				</header>
				<div class="columns two-columns">
					<div class="columns-holder">
						<div class="column">
							<h3>Documentation</h3>
							<p>The Open511 specification is available here. The documentation tracks the status of the specification and provides other re- sources. You can also submit or comment on issues on GitHub.</p>
						</div>
						<div class="column">
							<h3>Demonstration Site</h3>
							<p>To better understand the usefuhess of Cpen511, it may be helpful to browse the output of Open WDrth's in-progress impte- mentation of this API. You can explore a live but incomplete demo of the browseable API, and of a map-based interface.</p>
						</div>
					</div>
				</div>
			</section>
			<section id="partners-heading" class="container-box">
				<header class="page-header">
					<h1>PARTNERS & DATA CONSUMERS</h1>
				</header>
				<ul class="partners-list">
					<li><a href="#">
							<img src="/assets/themes/new/images/mt-logo.jpg" width="95" height="92" alt="image description" />
						</a>
					</li>
					<li><a href="#">
							<img src="/assets/themes/new/images/flag-canada.jpg" width="229" height="70" alt="image description" />
						</a>
					</li>
				</ul>
			</section>
		</div>
		<footer id="footer">
			<h4>INTERESTED IN OPEN511?</h4>
			<ul class="footer-list">
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Join the Mailing List</a></li>
				<li><a href="#">Submit an Issue or Comment</a></li>
			</ul>
		</footer>
	</body>
</html>
